*{
    margin:0;
    padding:0;

}
body{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FAFAFA;
    margin-top:80px;
}
h4{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.1666666716337204px;
    text-align: left;
    color: #4D4F62;
}

h1{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.1666666716337204px;
    text-align: center;
    color: #4D4F62;
}
h2{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1041666641831398px;
    text-align: center;
    color: #4D4F62;
}
.firsttext{
    width: 311px;
    margin-left: 32px;

}
.firstcontainer{
    width: 311px;
    height: 222px;
    margin-left: 32px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px
}
.text2{
    margin-top: 27px;
    margin-left: 29px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #4D4F62;
}
.text3{
    width: 254px;
    margin-left: 29px;
    opacity: 0.5px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.0902777761220932px;
    text-align: left;
}
.foto{
    margin-top: 40px;
    margin-left: 226px;
}
#f{
    border-top: solid 4px #44D3D2;
}
#s{
    border-top: solid 4px #EA5454;
}
#t{
    border-top: solid 4px #FCAE4A;
}
#fo{
    border-top: solid 4px #549EF2;
}
@media (min-width: 1000px){
    body{
        margin: 0;
        display: flex;
    }
    main{
        display: flex;
        align-items: center;
    }
    .firsttext{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #txt{
        width: 540px;
        text-align: center;
    }  
}
